.app-header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
}

.app-header h1 {
  margin: 0;
  font-size: 1rem;
}

.app-header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.app-header ul li {
  padding-right: 10px;
}

.app-header ul li:first-child {
  font-size: 0.8rem;
}

.app-header ul li:last-child {
  padding-right: 0;
}

.app-header .brand {
  display: flex;
  align-items: center;
}

.app-header .brand a {
  text-decoration: none;
  color: white;
}

.app-header .brand img {
  width: 50px;
  height: auto;
  padding-right: 10px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #444;
  padding: 0 10px;
}

.login-container {
  background-color: white;
  padding: 70px 50px;
  width: 100%;
  box-sizing: border-box;
}

.field, .actions {
  padding: 10px 0;
}

.field input, .field select {
  width: 100%;
  margin-top: 10px;
  line-height: 2;
  box-sizing: border-box;
}

.field select {
  padding: 10px 0;
}

.actions {
  text-align: center;
  padding-top: 30px;
}

.actions button {
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 15px 50px;
  border: none;
  background-color: #333;
  color: white;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

.actions button:disabled {
  background-color: #CCC;
  cursor: auto;
}

@media screen and (min-width: 501px) {
  .app-header h1 {
    font-size: 1.2rem;
  }

  .app-header ul li:first-child {
    font-size: 1rem;
  }

  .login-wrapper {
    padding: 0;
  }

  .login-container {
    width: 80%;
  }
}

@media screen and (min-width: 764px) {
  .login-container {
    width: 50%;
  }
}
